<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<div id="questions">
    <h3>Questions</h3>
    <ol>
        <li>
            <a href="/polling-units" class="question">Result of any individual polling Unit</a>
        </li>
        <li>
            <a href="/lga" class="question">Display summed total of all polling unit results under any particular
                LGA</a>
        </li>
        <li>
            <a href="/new-result" class="question">Store results of all parties for a a polling unit</a>
        </li>
    </ol>
</div>
</div>
</body>
</html>